body {
  background-color: white;
  font-family: georgian;
}

h6 {
  margin:0;
  padding:0;
  font-size:6vw;
}

h5 {
  margin:0;
  padding:0;
  font-size:5vw;
}

h4 {
  margin:0;
  padding:0;
  font-size:4vw;
}

h3 {
  margin:0;
  padding:0;
  font-size:3vw;
}

h2 {
  margin:0;
  padding:0;
  font-size:2vw;
}

h1 {
  margin:0;
  padding:0;
  font-size:1vw;
}

.product_title {
  float: right;
  width: 40%;
  text-align : right;
  font-size:4vw;
  font-weight: bold;
  margin:0;
}
.quantity_title {
  float: right;
  width: 20%;
  text-align : right;
  font-size:4vw;
  font-weight: bold;
  margin:0;
}
.gratuit_title {
  float: right;
  width: 20%;
  text-align : right;
  font-size:4vw;
  font-weight: bold;
  margin:0;
}
.prix_u_title {
  float: right;
  width: 20%;
  text-align : right;
  font-size:4vw;
  font-weight: bold;
  margin:0;
}



.product_value {
  float: right;
  width: 100%;
  text-align : right;
  font-weight: bold;
  font-size:4vw;
}

.nbrcolis_value {
  float: right;
  width: 15%;
  text-align : center;
  font-size:4vw;
  margin-bottom:5;
}

.x_value {
  float: right;
  width: 5%;
  text-align : center;
  font-size:4vw;
  margin-bottom:5;
}

.colissage_value {
  float: right;
  width: 15%;
  text-align : center;
  font-size:4vw;
  margin-bottom:5;
}

.equal_value {
    float: right;
    width: 5%;
    text-align : center;
    font-size:4vw;
    margin-bottom:5;
}

.quantity_value {
  float: right;
  width: 15%;
  text-align : center;
  font-size:4vw;
  margin-bottom:5;
}

.plus_value {
  float: right;
  width: 5%;
  text-align : center;
  font-size:4vw;
  margin-bottom:5;
}

.gratuit_value {
  float: right;
  width: 10%;
  text-align : center;
  font-size:4vw;
  color : green;
  margin-bottom:5;
}

.x2_value {
  float: right;
  width: 10%;
  text-align : center;
  font-size:4vw;
  margin-bottom:5;
}

.prix_u_value {
  float: left;
  width: 20%;
  text-align : right;
  font-size:4vw;
  margin-bottom:5;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

table {
    width: 100%;
}

.td_class {
  border: 2px solid black;
  border-radius: 7px;
  padding:5;
  text-align: right;
  font-weight: bold;
}

.upc-barcode,
.ean-barcode {
  font-family: 'Libre Barcode EAN13 Text';
  font-size: 100px;
}